<h2>By Country</h2>
<hr>


<div class="row">
    <div class="col">
        <app-country-input
            (onEnter) = "search( $event )"
            (onDebounce) = "suggestions( $event )"
            placeholder = "Search Country..."           
        > </app-country-input>
    </div>
</div>


<!-- Sugerencias -->
<app-suggestions
    (onSearchSuggestion) = "searchSuggestion( $event )"
    [showSuggestions] = "showSuggestions"
    [suggestionsCountries] = " suggestionsCountries"
    [term] = "term"
    [isCountry] = true
    ></app-suggestions>




<hr>
<div *ngIf="isError" class="alert alert-danger">
    Not Found {{term}}
</div>

<div *ngIf="countries.length > 0" class="row">
    <div class="col">
       <app-country-table [countries] = "countries "></app-country-table>
    </div>
</div>